<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: black;
            width: 340px;
            height: 70px;
            color: gold;
            padding: 10px;
            margin-bottom: 20px;
        }

        .details {
            background-color: white;
            padding: 10px;
            margin-bottom: 20px;
        }

        p {
            color: white;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 >Pearls of Union</h1>
    </div>
    <div class="details">
        <h2 style="color: gray;">Appointment Details</h2>
        <p style="color: black; font-weight: bold;">Service: Tv Show </p>
        <p style="color: black; font-weight: bold;">Date: {{date}}  </p>
        <p style="color: black; font-weight: bold;">Time: {{time}} </p>
        <p style="color: black; font-weight: bold;">Emarat: {{emarat}} </p>
        <p style="color: black; font-weight: bold;">Location: {{location}} </p>
        <h2 style="color: black;">Customer Details:</h2>
        <p style="color: black; font-weight: bold;">Name: {{guest}} </p>
        <p style="color: black; font-weight: bold;">Email: {{customer}}  </p>
        <p style="color: black; font-weight: bold;">Phone Number: {{phone}} </p>
    </div>
</body>
</html>